body{
margin:0px;
padding:0px;
}
/* Styles for the nav bar */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color:white;
font-family: 'Courier New', Courier, monospace;
border-bottom: 2px solid black;
}
.nav-right{
  display:flex;
  font-size:28px;
  gap: 32px;
  font-family: 'Courier New', Courier, monospace;
}
.nav-right a{
  font-family: DotGothic16;
  color:black;
  text-decoration: none;
  font-size:28px;
  font-weight: 400;
}
.navbar h1 {
margin: 0;
font-size: 24px;
font-weight: bold;
font-family: DotGothic16;
text-align:center;
}
/* Styles for the welcom image and the welcome text including the styles for the about section and also having the hover affects to make it look attractive.*/
.hero-image{
  margin:50px;
}
.hero h2{
font-family: DotGothic16;
font-size: 120px;
font-weight: 400;
line-height: 120px;
text-align: center;
color:rgba(0, 0, 0, 1);
animation:drop 4s forwards;
}
#hero-img{
  height:100%;
  width:100%;
  border-radius: 56px;
}
#hero-img:hover{
  transform:scale(0.92);
}
.heroin{
  font-family: DotGothic16;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
  padding:50px 200px;
}
.text1out {
  text-align:center;
  margin-bottom:0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding:50px 50px;
}
.text{
  padding:50px 50px;
  font-family: Archivo;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.text2:hover{
  transform: scale(1.5);
}
/* Styles for the top images which summarise the work */
.topimages{
  padding:0px 0px;
  display:flex;
  justify-content: space-around;
  width:100%;
  overflow: hidden;
  margin-bottom: 45px;
}
.inimage{
  width: 100%;
  border: 1px 0px 0px 0px;
  margin-right:90px;
}

.inimage:nth-child(3){
  margin-right: 0px;
}

.inimage img{
  height: 100%;
  width: 100%;
}
/* Styles for the portfolio having the grid styles and arranging them accoringly and also having the hover affects to make it look attractive. */
.about .portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.project-grid{
  padding:10px;
  justify-content:space-between;
  gap:100px;
  text-align: center;
  display: grid;
  gap:56px;
  grid-template-columns:repeat(3,auto);
}
.project-grid img{
  border-radius: 5px;
  width: 100%;
}
.image-container img{
  height: 100%;
  width: 100%;
}
.portfolio {
  text-align: center;
  padding: 20px;
}
.project:hover{
transform:scale(1.25);
}
.project .font{
  font-size: 20px;
  text-align: left;
  padding-left:20px;
}
.project .min-font{
  font-size: 17px;
  text-align: left;
  padding-left:20px;
}
/* Styles here style the text of what my clints say  */
.container3 #text{
  font-family: DotGothic16;
  font-size: 48px;
  text-align: center;
}
/* Styles for the clint feedback cards . */
.Testimonials{
  padding:0px 50px 50px 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid black;
}
.Testimonialcard{
  margin:15px;
  height:auto; 
  width:100%;
  background-color:white;
  border-radius:16px;
  border:1.5px solid black;
  padding:20px;
  padding-bottom: 30px;
  justify-content: space-between;
}
.testcard{
  display: flex;
  gap:10px;
  border-radius:16px;
  border:1.5px solid #FFFFFF33;
}
.testcard-in{
  text-align: left;
}
.testcard1{
  display:flex;
  padding-bottom: 30px;
}
.Testimonialcard:hover{
  transform:scale(0.9);
}
/* Styles for the contact section which includes the text and form styling. */
.contact h4{
padding-top:50px;
font-family: DotGothic16;
font-size: 28px;
text-align: center;
margin-bottom:0px;
}
.contact p{
font-family: Archivo;
font-size: 15px;
text-align: center;
padding-top:0px;
}
.contact{
display: flex;
justify-content: center;
align-items: center;
padding: 200px 48px;
text-align: center;
}
.contact form {
display: flex;
gap: 12px;
margin-bottom: 32px;
justify-content: center;
align-items: center;
}
.contact form input {
display: inline-block;
}
.contact button {
font-family: "Space Mono", monospace;
color: #fff;
background-color:rgba(36, 25, 243, 1);
width: 100%;
border-radius: 8px;
padding: 16px 8px;
border: none;
margin-bottom: 32px;
font-size: 15px;
}
.contact input {
font-size: 20px;
padding: 8px 16px;
border: 1px solid rgba(36, 25, 243, 1);
border-radius: 8px;
color:rgba(36, 25, 243, 1);
width: 56px;
height: 64px;
text-align: center;
}
.contact a {
margin-top: 32px;
font-size: 15px;
line-height: 20px;
font-family: "Chivo";
color:rgba(36, 25, 243, 1);
}
.contact a:hover {
text-decoration: underline;
}
/* Styles for the footer section. */
.footer{
  padding:10px 0px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-top:1px solid #2a2e35;
}
footer {
  display: block;
  unicode-bidi: isolate;
}
.footer-section{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding:20px;
}
.footer p{
  font-size: 40px;
  margin:0;
  text-align:left;
}
.footer button {
  background-color: transparent;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}
/* Animation for the welcome text. */
@keyframes drop {
  0% {
      opacity: 0;
      transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
/* Media Queries for the larger screen.*/
@media only screen and (max-width:1024px){
  .heroin{
    font-size:40px;
    padding-bottom:0px;
  }

  .project-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .Testimonials{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:100px;
    column-gap:100px;
  }
  .Testimonialcard{
    width: auto;
  }
}
/* Media Queries for the mobile screens*/
@media only screen and (max-width:600px){
  .nav-right{
    display: none !important;
  }
  .hero-image{
    margin: 30px;
  }
  .hero h2{
    font-size: 24px;
    line-height: 2rem;
  }
  .heroin{
    font-size:30px;
    line-height:2rem;
    padding: 20px;
    text-align: center;
  }
  .text1out{
    padding: 20px;
    display: flex;
  }
  .text1{
    font-size:25px;
    display: none;
  }
  .inimage{
    margin-right: 30px;
  }
  .project-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .Testimonials{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .contact input{
    width: 20px;
    height: 20px;
  }
  .footer p{
    font-size: 20px;
  }
}